---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% assign sorted_publications = site.publications | sort: "date" | reverse %}

{% if site.author.googlescholar %}
<div class="wordwrap">
  You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a> and <a href="https://dblp.org/pid/130/4010-1.html">DBLP</a>.<br>
  Authors are listed alphabetically unless they are not, in which case (*) denotes equal contribution.
</div>
{% endif %}

<h2>Manuscripts</h2>
{% assign has_manuscripts = false %}
{% for post in sorted_publications %}
  {% if post.working == 'y' %}
    {% assign has_manuscripts = true %}
    <div class="list__item">
      <article class="archive__item publication-entry">
        <p class="publication-entry__title">
          {% if post.paperurl %}
            <a href="{{ post.paperurl }}">{{ post.title }}</a>
          {% else %}
            {{ post.title }}
          {% endif %}
          {% if post.talks %}
            (
            {% for talk in post.talks %}
              <a href="{{ talk.url }}">{{ talk.label }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
            )
          {% endif %}
          <br>
          {{ post.authors }}
        </p>
      </article>
    </div>
  {% endif %}
{% endfor %}
{% if has_manuscripts == false %}
  <p>No manuscripts at the moment.</p>
{% endif %}

<h2>Publications</h2>
{% assign has_publications = false %}
{% for post in sorted_publications %}
  {% if post.working != 'y' %}
    {% assign has_publications = true %}
    <div class="list__item">
      <article class="archive__item publication-entry">
        <p class="publication-entry__title">
          {% if post.paperurl %}
            <a href="{{ post.paperurl }}">{{ post.title }}</a>
          {% else %}
            {{ post.title }}
          {% endif %}
          {% if post.talks %}
            (
            {% for talk in post.talks %}
              <a href="{{ talk.url }}">{{ talk.label }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
            )
          {% endif %}
          <br>
          {{ post.authors }}
          {% if post.venue %}
            <br>
            <i>{{ post.venue }}</i>{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}
          {% endif %}
        </p>
      </article>
    </div>
  {% endif %}
{% endfor %}
{% if has_publications == false %}
  <p>No publications at the moment.</p>
{% endif %}
