{% capture publication_links -%}
  {%- for talk in post.talks -%}
    {%- unless forloop.first %}, {% endunless -%}
    <a href="{{ talk.url | escape }}">talk{% if talk.label %} {{ talk.label | escape }}{% endif %}</a>
  {%- endfor -%}
{%- endcapture %}

<li class="publication-entry">
  <strong>{% if post.paperurl %}<a class="publication-title-link" href="{{ post.paperurl | escape }}">{{ post.title | escape }}</a>{% else %}{{ post.title | escape }}{% endif %}</strong>{% if publication_links != empty %} [{{ publication_links }}]{% endif %}<br>
  {{ post.authors }}
  {% if include.show_venue and post.venue %}
    <br>
    <i>{{ post.venue }}</i>{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}
  {% endif %}
</li>
